
h1 {
    text-align: center;
}

#footer {
    text-align: center;
    margin: 30px;
    margin-top: 130px;
}

body {
    background-image: url("https://img.freepik.com/vector-premium/fondo-abstracto-blanco-estilo-papel-3d_23-2148403778.jpg?w=2000");
    background-repeat: repeat;
}

#banner {
    background-image: url("images/hero.png");
}

#title {
    color: white;
}

#subtitle {
    color: white;
}

#informacion {
    color: white;
}



